<div class="footer-bg">

  <div class="container">


    <div class="row footer-info-row">

      <div class="col-md-4 movie-cast-info">

        <a class="navbar-brand" href="/">Movie <span>Cast</span></a>

        <p>
          Znajdziesz u nas najnowsze filmy z całego świata. Zrób popcorn, usiądź wygodnie pod kocem i życzymy Ci miłego
          seansu.
        </p>

      </div>
      <div class="col-md-2 footer-info">

        <h2 class="footer-head-text">Polityka</h2>

        <ul>

          <li><a href="#">Regulamin</a></li>
          <li><a href="#">Polityka prywatności</a></li>
          <li><a href="#">Zabezpiecznia</a></li>
        </ul>





      </div>
      <div class="col-md-2 footer-info">

        <h2 class="footer-head-text">Konto</h2>


        <ul>

          <li><a href="#">Ulubione</a></li>
          <li><a href="#">Moje konto</a></li>
          <li><a href="#">Ustawienia</a></li>
          <li><a href="#">Wyloguj</a></li>
        </ul>


      </div>
      <div class="col-md-4 footer-info">

        <h2 class="footer-head-text">Newsletter</h2>

        <p>Zapisz się do naszego newslettera, aby otrzymywać oferty i promocje nowych filmów.</p>


        <form>

          <div class="form-row">
            <div class="col">
              <div class="article-input">
                <i class="fas fa-paper-plane"></i>
                <input type="text" class="form-control text-field" placeholder="E-mail">
              </div>

            </div>
          </div>
          <button type="submit" class="btn btn-secondary">ZAPISZ SIĘ ></button>
        </form>



      </div>

    </div>



    <div class="footer">

      <div class="footer-text">

        Strona stworzona przez <a href="https://eviathos.pl">Eviathos.pl</a> | Wszystkie prawa zastrzeżone.
      </div>
    </div>

  </div>

</div>
