<!-- navbar container -->
<div class="container header-nav">


  <!-- top navbar with logo and searchbar -->
  <nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand navbar-brand--big" href="/">Movie <span>Cast</span></a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">

      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <form class="form-inline my-2 my-lg-0">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Szukaj...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>
          <h2 class="nav-item"> Witaj Gość! <a href="#" class="log-in"> Zaloguj się</a>
          </h2>

        </form>
      </div>
    </div>
  </nav>
  <!-- end of top navbar -->



  <!-- main navbar with links -->
  <div class="nav-wrap">
    <nav class="navbar navbar-links navbar-expand-lg navbar-dark mb-5">
      <a class="navbar-brand navbar-brand--links hidden" href="/">Movie <span>Cast</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="">Strona Główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" routerLink="">Baza Filmów</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="">Aktualności</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="">Celebryci</a>
          </li>
          <button class="btn btn-secondary" outerLink="">Twoje Filmy</button>
        </ul>
      </div>
    </nav>
  </div>
  <!-- end of main navbar -->


</div> <!-- navbar container end -->
