
<div class="container header-nav">
  

<!-- top nav -->
<nav class="navbar navbar-dark bg-dark ">
  <a class="navbar-brand" href="/">Movie <span>Cast</span></a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
    
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" aria-label="Search">
        
        <h2> Witaj Gość! <a href="#"> Zaloguj się</a></h2>
        
      </form>
    </div>
  </div>
</nav>


<!-- main nav with links -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link active" routerLink="">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">Baza Filmów</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="contact">Aktualności</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="#">Celebryci</a>
            </li>
            <button class="btn btn-secondary" href="#">Twoje Filmy</button>
        </ul>
    </div>
</nav>



</div>