// VARIABLES
$bg-color: #13161f;
$pink-color: #eb305d;
$shadowy: #737478;
$blueish: #848192;


.header-nav {
  padding-top: 30px;
}

a.navbar-brand {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: $pink-color !important;
  span {
    color: #fff;
    
    position:relative;
    padding-left: 32px;
    &::before {
    content: '';
    width: 2px;
    height: 46px;
    display: inline-block;
    background: $pink-color;
    position: absolute;
    top: 1px;
    left: 10px;
    }
  }
}

    .navbar {
        margin: 0;
        padding: 0;
    font-size: 15px;
   
    border: none;
    padding-bottom: 10px;

      h2 {
        color: #fff;
        font-size: 15px;
        margin: 0;
        padding-left: 50px;
  a{
    color: $pink-color;
  
  }
      }

    button {
      &:hover {
        -webkit-box-shadow: -4px -1px 29px -2px rgba(235,48,93,0.72);
        -moz-box-shadow: -4px -1px 29px -2px rgba(235,48,93,0.72);
        box-shadow: -4px -1px 29px -2px rgba(235,48,93,0.72);
        transition: .3s;
      }
      transition: .3s;
      border-radius: 20px;
      background: $pink-color;
      border-color: $pink-color;


      font-weight: 700;
      letter-spacing: 2px;
      font-size: 0.8em;

    }

    a {
      color: #fff;
      letter-spacing: 1px;
      padding: 10px 20px 10px 20px;
    }

    input.form-control {
      border-radius: 20px;
      background: transparent;
      padding-right: 50px;
 
   
      border: .5px solid $shadowy;
    }
  }



  .bg-dark {
  
      background-color: transparent !important;

  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  
  .logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  .active {
    display: block;
  }
  
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  }