// VARIABLES
$bg-color: #13161f;
$pink-color: #eb305d;
$shadowy: #737478;
$blueish: #848192;
$darky: #23262d;


//  movie table info
.table-dark {
  background-color: transparent;
}

table {

  margin-top: 50px;

  td {
    color: $shadowy;
    font-weight: 400;
    font-size: 1em;
    padding: .50em;
    padding-left: 35px;
  }

  th {
    padding: .50em;

    color: $pink-color;
    font-weight: 400;
    font-size: 1em;
  }

}

// full height background
.container.mov-bg {
  height: 100vh;
}


// movie card

.movie-card_block {


  background-color: $bg-color;
  -webkit-box-shadow: 0px 13px 43px 5px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 13px 43px 5px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 13px 43px 5px rgba(0, 0, 0, 0.53);
  padding: 50px;
  color: rgb(133, 133, 133);
  margin-bottom: 100px;
  margin-top: 50px;



  .movie-card_header {


    display: flex;

    img {
      height: 500px;
      box-shadow: 1px 0px 29px 0px rgba(0, 0, 0, 0.75);
    }


    button {
      position: absolute;
      border-radius: 20px;
      background: $pink-color;
      border-color: $pink-color;
      bottom: -15px;
      left: 135px;

      font-weight: 700;
      letter-spacing: 2px;
      font-size: 0.8em;
    }
  }


//  movie info 
  .movie-card_info {
    h2 {
      color: #fff;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: 1px;
      padding-bottom: 10px;
    }


    h3 {
      font-size: 1em;
      color: $blueish;
      padding-left: 55px;

      &::before {

        content: '';
        position: absolute;
        top: 72px;
        left: 25px;
        width: 30px;
        height: 2px;
        background-color: $pink-color;

      }
    }

    .badge-secondary {
      padding: 5px 10px;
      background: #2b2e37;
      color: $shadowy;
    }

  }

  // zwiastun buy button
  button {
    position: absolute;
    border-top-left-radius: 20px;
    background: $pink-color;
    border-color: $pink-color;
    bottom: 0px;
    right: 0px;
    -webkit-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
    -moz-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
    box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.8em;
  }

}




// movie description

.movie_description_block {

  hr {
    color: $shadowy;
    background-color: $shadowy;
    opacity: 0.3;
  }

  h2 {
    color: rgb(211, 210, 210);
    padding-bottom: 50px;

    &::before {

      content: '';
      position: absolute;
      top: 65px;
      left: 25px;
      width: 30px;
      height: 2px;
      background-color: $pink-color;

    }
  }

  p {
    color: rgb(143, 143, 143);
  }


  .movie_description_info {
    padding-bottom: 50px;
  }


  // recenzja
  .movie_description_article {
    padding-bottom: 200px;
    padding-top: 50px;


// inputs recenzja
    input,
    textarea.form-control {
      background-color: $darky !important;
      border: none;
      padding: 25px;
      border-radius: 0;

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 140, 0.404);
      }

    }

    button {
      &:hover {
        -webkit-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
        -moz-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
        box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
        transition: .3s;
      }

      transition: .3s;
      background: $pink-color;
      border-color: $pink-color;
      border-radius: 0px;

      font-weight: 700;
      letter-spacing: 2px;
      font-size: 0.8em;
    }


    .text-field {
      height: 100px;
    }

    .form-row {
      padding-bottom: 25px;
    }

  }


}

// icons on form inputs
.movie-input {
  i {
    position: absolute;
    color: #fff;
    right: 20px;
    top: 17px;
  }

  &:hover {

    i {

      color: $pink-color;

    }
  }
}


// recenzja input icons
.article-input {
  i {
    position: absolute;
    color: #fff;
    right: 20px;
    bottom: 17px;
  }

  &:hover {

    i {

      color: $pink-color;

    }
  }
}


// row with videos "zwiastuny"
.videos-row {
  padding: 50px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99;
  background: $bg-color;

  .resp-iframe {
    margin-top: -50px;
    width: 100%;
    height: 100%;
    border: 0;
  }

  .video-head {
    max-height: 50px;

    h2 {
      color: #fff;

      &::before {

        content: '';
        position: absolute;
        top: 62px;
        transform: translateX(23px);
        width: 100px;
        height: 2px;
        background-color: $pink-color;

      }

    }
  }
}

// paying form
.pay-card {

  a {
    color: $pink-color;
  }

  a.nav-link.active {
    background-color: rgb(199, 199, 199);
  }


  button {
    &:hover {
      -webkit-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
      -moz-box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
      box-shadow: -4px -1px 29px -2px rgba(235, 48, 93, 0.72);
      transition: .3s;
    }

    transition: .3s;
    background: $pink-color;

    border-radius: 0px;

    font-weight: 700;
    letter-spacing: 2px;
    font-size: 0.8em;
  }

}

.log-in_col {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;

  a {
    color: $pink-color;

  }

  p {
    padding-top: 20px;
    text-align: center;
  }

}

// media for mobile phones responsive design

@media (max-width: 575.98px) {


  .movie-card_info {
    margin-top: 50px;

    h2 {
      font-size: 1.5em;
      text-align: center;
    }

    h3 {
      padding-left: 0 !important;
      text-align: center;

      &::before {
        display: none;

      }
    }
  }


  .container.mov-bg {
    height: auto;
  }


  .movie-card_block {

    button {
      left: 110px;
      border-top-right-radius: 20px;
    }

    .movie-card_header {
      button {
        left: 35px;
      }
    }
  }




}
