<!-- main page container -->
<div class="container mov-bg">

  <div class="row">

    <!-- movie card block -->
    <div class="col-md-11 mx-auto movie-card_block ">

      <!-- trailer videos block -->
      <div class="row videos-row mx-auto" *ngIf="isShow">


        <!-- trailer videos block text header -->
        <div class="col-md-12 video-head text-center">
          <h2>Zwiastuny</h2>
        </div>



        <!-- movie trailer #1 -->
        <div class="col-md-6">

          <iframe class="resp-iframe" src="https://www.youtube.com/embed/GiKfJnG-qp4" frameborder="0" allow="accelerometer;
            autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>

        </div>



        <!-- movie trailer #2 -->
        <div class="col-md-6">

          <iframe class="resp-iframe" src="https://www.youtube.com/embed/I_3HuvJ6g04" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>


        <!-- back to info about movie button -->
        <button href (click)="isShow = !isShow" type="button" class="btn btn-secondary">
          <i class="fas fa-times-circle"></i>
          WRÓĆ DO INFORMACJI
        </button>


      </div> <!-- videos-row end -->



      <!--  buy access PAGE -->
      <div class="row videos-row mx-auto " *ngIf="isBuy">



        <!-- log-in column -->
        <div class="col-md-4 log-in_col ">
          <div class="log-in_text ">


            <a href="#">
              <h2 class="text-center">Zaloguj się</h2>
            </a>

            <p>Zaloguj się aby wykupić dostęp lub skorzystaj z form płatności.</p>


          </div> <!-- log-in text end -->
        </div> <!-- log-in columnd end -->


        <div class="col-md-2 log-in_col">
          <div class="log-in_text ">
            <span></span>
          </div>
        </div>



        <!-- pay card  -->
        <div class="col-md-6 pay-card">


          <article class="card">
            <div class="card-body p-5">

              <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                    <i class="fa fa-credit-card"></i> Karta kredytowa</a></li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                    <i class="fab fa-paypal"></i> PayPal</a></li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                    <i class="fa fa-university"></i> Przelew bankowy</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-tab-card">
                  <form role="form">
                    <div class="form-group">
                      <label for="username">Imię i nazwisko</label>
                      <input type="text" class="form-control" name="username" placeholder="" required="">
                    </div> <!-- form-group.// -->

                    <div class="form-group">
                      <label for="cardNumber">Numer karty</label>
                      <div class="input-group">
                        <input type="text" class="form-control" name="cardNumber" placeholder="">
                        <div class="input-group-append">
                          <span class="input-group-text text-muted">
                            <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>  
                            <i class="fab fa-cc-mastercard"></i>
                          </span>
                        </div>
                      </div>
                    </div> <!-- form-group.// -->

                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          <label><span class="hidden-xs">Data wygaśnięcia karty</span> </label>
                          <div class="input-group">
                            <input type="number" class="form-control" placeholder="Miesiąc" name="">
                            <input type="number" class="form-control" placeholder="Rok" name="">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV
                            <i class="fa fa-question-circle"></i></label>
                          <input type="number" class="form-control" required="">
                        </div> <!-- form-group.// -->
                      </div>
                    </div> <!-- row.// -->
                    <button class="subscribe btn btn-primary btn-block" type="button"> Potwierdź </button>
                  </form>
                </div> <!-- tab-pane.// -->
                <div class="tab-pane fade" id="nav-tab-paypal">
                  <p>PayPal jest najłatwiejszym sposobem płatności w internecie.</p>
                  <p>
                    <button type="button" class="btn btn-primary"> <i class="fab fa-paypal"></i> Moje konto PayPal
                    </button>
                  </p>
                  <p><strong>Uwaga:</strong> Zaloguj się za pomocą konta PayPal by wykupić dostęp. </p>
                </div>
                <div class="tab-pane fade" id="nav-tab-bank">
                  <p>Dane do przelewu</p>
                  <dl class="param">
                    <dt>Nazwa banku: </dt>
                    <dd>Millenium Bank</dd>
                  </dl>
                  <dl class="param">
                    <dt>Numer konta: </dt>
                    <dd> 1232424245678912345</dd>
                  </dl>
                  <dl class="param">
                    <dt>IBAN: </dt>
                    <dd> 12344341156789</dd>
                  </dl>
                  <p><strong>Uwaga:</strong> W tytule przelewu proszę podać nazwę oraz e-mail konta, na które ma zostać
                    przypisany dostęp do filmu. </p>
                </div> <!-- tab-pane.// -->
              </div> <!-- tab-content .// -->

            </div> <!-- card-body.// -->
          </article> <!-- card.// -->


        </div> <!-- pay card end -->

        <!-- back to movie info button -->
        <button href (click)="isBuy = !isBuy" type="button" class="btn btn-secondary"> <i class="fas fa-times-circle"></i>
          WRÓĆ DO INFORMACJI</button>


      </div> <!-- videos row - buy card page end -->




      <!-- movie info -->
      <div class="row">


        <div class="movie-card_header col-lg-6 justify-content-center">

          <!-- movie photo -->
          <div class="resp-container movie-photo">

            <img src="./assets/playerone.jpg" alt="">

            <button (click)="isShow = !isShow" type="button" class="btn btn-secondary"> <i class="fas fa-play-circle"></i>
              OBEJRZYJ ZWIASTUN</button>

          </div>

          <!-- watch trailer button -->



        </div> <!-- movie card header end -->


        <!-- movie card info -->
        <div class="movie-card_info col-lg-6">

          <h2>Ready Player One </h2>
          <h3>Animacja | Akcja | Science Fiction</h3>


          <!-- info table -->
          <table class="table table-borderless table-dark">
            <tbody>
              <tr>
                <th scope="row">Gatunek:</th>
                <td><span class="badge badge-pill badge-secondary">Sci-Fi</span></td>

              </tr>
              <tr>
                <th scope="row">Reżyseria:</th>
                <td>Steven Spielberg</td>

              </tr>

              <tr>
                <th scope="row">Scenariusz:</th>
                <td>Ernest Cline, Zak Penn</td>

              </tr>

              <tr>
                <th scope="row">Produkcja:</th>
                <td colspan="2">USA</td>

              </tr>
              <tr>
                <th scope="row">Czas filmu:</th>
                <td colspan="2">2 godz. 20 min.</td>

              </tr>
              <tr>
                <th scope="row">Premiera:</th>
                <td colspan="2"> 11 marca 2018 </td>

              </tr>

              <tr>
                <th scope="row">Język: </th>
                <td colspan="2">Polski</td>

              </tr>
            </tbody>
          </table>
          <div class="rating">
            <h5><span>3.523</span> Głosów</h5>
            <h5><i class="far fa-star"></i> 7.8</h5>
          </div>

        </div> <!-- movie card info end -->

        <!-- buy access to movie button - show buy card page -->


      </div> <!-- end of row -->
      <button (click)="isBuy = !isBuy" type="button" class="btn btn-secondary">
        <i class="fas fa-tags"></i>
        KUP DOSTĘP
      </button>
    </div> <!-- movie card block end -->


  </div> <!-- end of row -->
  <span class="scroll-btn">
    <a>
      <span class="mouse">
        <span>
        </span>
      </span>
    </a>


  </span>
</div> <!-- end of page container -->


<!-- page container - movie description and article -->
<div class="container">
  <div class="row">


    <!-- movie description -->
    <div class="col-md-10 mx-auto movie_description_block">

      <!-- movie description info -->
      <div class="movie_description_info">
        <h2>Opis filmu</h2>

        <p>
          Rzeczywistość 2045 roku nie nastraja optymistycznie. Świat znajduje się na skraju upadku i pogrążenia w
          chaosie. Wade Watts (Tye Sheridan) czuje, że żyje, tylko gdy ucieka do OASIS — wirtualnego uniwersum, w
          którym większość ludzi spędza całe dnie. W OASIS można podróżować, przeżywać przygody i być kimkolwiek się
          zapragnie. Jedynym ograniczeniem jest własna wyobraźnia. Ekscentryczny geniusz James Halliday (Mark Rylance),
          który stworzył OASIS, szuka godnego następcy. Organizuje trzyetapowy konkurs, w którym nagrodą jest olbrzymia
          fortuna i całkowita kontrola nad uniwersum. Wade i jego przyjaciele z "Wielkiej Piątki" podejmują wyzwanie
          polegające na szukaniu skarbów w zakrzywionej rzeczywistości. W fantastycznym świecie — pełnym niespodzianek,
          ale i niebezpieczeństw — czeka ich zadanie ważniejsze niż sam konkurs. Muszą ocalić OASIS.
        </p>

      </div> <!-- movie decription info - end -->



      <hr /> <!-- spacing line between article and description -->

      <div class="actors">
        <h2>Obsada</h2>

        <table class="table table-borderless table-striped table-hover movie-actors">

          <tbody>
            <tr>
              <th scope="row"><img src="./assets/tye.jpg" class="" alt=""></th>
              <td><a href="">Tye Sheridan</a></td>
              <td>Wade Owen Watts / Parzival</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/olivia.jpg" class="" alt=""></th>
              <td><a href="">Olivia Cooke</a></td>
              <td>Samantha Evelyn Cook / Art3mis</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/ben.jpg" class="" alt=""></th>
              <td><a href="">Ben Mendelsohn</a></td>
              <td>Nolan Sorrento</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/lena.jpg" class="" alt=""></th>
              <td><a href="">Lena Waithe</a></td>
              <td>Aech</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/miller.jpg" class="" alt=""></th>
              <td><a href="">T.J. Miller</a></td>
              <td>i-R0k</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/simon.jpg" class="" alt=""></th>
              <td><a href="">Simon Pegg</a></td>
              <td>Ogden Morrow</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/mark.jpg" class="" alt=""></th>
              <td><a href="">Mark Rylance</a></td>
              <td>Anorak / Halliday</td>
            </tr>
            <tr>
              <th scope="row"><img src="./assets/philip.jpg" class="" alt=""></th>
              <td><a href="">Philip Zhao</a></td>
              <td>Sho</td>
            </tr>
          </tbody>
        </table>

      </div> <!-- movie decription info - end -->

      <hr /> <!-- spacing line between article and description -->

      <!-- movie description article -->
      <div class="movie_description_article">

        <h2>Dodaj recenzję</h2>

        <!-- add article form -->
        <form>
          <div class="form-row">
            <div class="col">
              <div class="movie-input">
                <i class="fas fa-user"></i><input type="text" class="form-control" placeholder="Imię">
              </div>
            </div>
            <div class="col">
              <div class="movie-input">
                <i class="fas fa-envelope"></i><input type="text" class="form-control" placeholder="E-mail">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col">
              <div class="article-input">
                <i class="fas fa-paper-plane"></i>
                <textarea type="text" class="form-control text-field" placeholder="Recenzja"></textarea>
              </div>

            </div>
          </div>

          <!-- submit button to add article -->
          <button type="submit" class="btn btn-secondary"><i class="fas fa-check"></i> WYŚLIJ RECENZJĘ</button>

        </form> <!-- end of article form -->

      </div> <!-- movie article end -->
    </div> <!-- movie description block end -->

  </div> <!-- row end -->
</div> <!-- container end -->
